body{
    padding-bottom: 100px;
}

footer{
    background-color: crimson;
    width: 100%;
    position: fixed;
    height: 65px;
    bottom: 0;
}

footer #rodape{
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

footer #rodape img{
    width: 30px;
    height: 30px;
}

footer #rodape .social{
    margin: 0px 125px 5px;
    display: inline-block;
    box-sizing: content-box;
    box-sizing: border-box;
}

.social span{
    position: relative;
    right: 12px;
    color: white;
}