body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-image: url(../imagens/index-fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: hidden;
}

header {
    position: sticky;
    height: 9vh;
    background-color: white;
    top: 0;
    z-index: 10;
}

nav {
    margin-left: 37.5%;
    margin-top: -2.5%;
    height: 35%;
    width: 40%;
}

main {
    margin-top: -70px;
    box-sizing: content-box;
    height: 64vh;
}

#logo {
    width: 10%;
    margin-top: 1%;   
    margin-left: 3%;
}

a {
    text-decoration: none;
}

.text-nav {
    margin-left: 1%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130%;
}

.text-nav:hover{
    color: rgba(0, 0, 0, 0.555);
    transform: 0.3s;
}


#botao-voluntario{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 105%;
    margin-left: 35%;
    padding-bottom: 27px;
    cursor: pointer;
    border: #4bacc6 solid 2px;
    background-color: #4bacc6;
    border-radius: 100px;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    transition-duration: 0.4s;
    text-align: center;
}

#botao-voluntario:hover{
    background: none;
    color: #4bacc6;
}

#botao-associado{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 105%;
    margin-left: 4%;
    padding-bottom: 27px;
    cursor: pointer;
    border: #4bacc6 solid 2px;
    background-color: #4bacc6;
    border-radius: 100px;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    transition-duration: 0.4s;
    text-align: center;
}

#botao-associado:hover{
    background: none;
    color: #4bacc6;
}

#botoes-div {
    width: 100%;
    height: 60%;
    margin-top: 14%;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.849);
}

#botoes-div #descricao{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 40%;
    max-width: 70%;
    margin: 30px auto;
}