body {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

header {
    position: sticky;
    height: 9vh;
    background-color: white;
    top: 0;
    z-index: 10;
}

nav {
    margin-left: 37.5%;
    margin-top: -2.5%;
    height: 35%;
    width: 40%;
}

main {
    width: 100%;
    height: auto;
}

footer {
    height: 2.6vh;
    background-color: crimson;
}

#logo {
    width: 10%;
    margin-top: 1%;   
    margin-left: 3%;
}

a {
    text-decoration: none;
}

.text-nav {
    margin-left: 1%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130%;
}

.text-nav:hover{
    color: rgba(0, 0, 0, 0.555);
    transform: 0.3s;
}

.header {
    padding: 30px;
    text-align: center;
    background: LightGray;
}

#mural-eventos {
    padding: 15px;
    margin: 20px auto;
    width: 50%;
    min-width: 630px;
    max-width: 650px;
    background-color: rgb(138, 138, 138);
    height: auto;
}

#mural-eventos a, #mural-eventos a:visited{
    color: black;
}

#mural-eventos:hover{
    background-color: LightGray;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#imagem, #descricao{
    display: inline-block;
    border: 1px solid orange;
}

#imagem{
    float: left;
}

#descricao{
    float: right;
    width: 370px;
    height: 153px;
}

#dados{
    clear: both;
    padding: 10px 0;
}
.evento #imagem img{
    width: 250px;
    height: 150px;
}

#descricao h3{
    text-align: center;
    padding: 0;
    margin: 0;
}

#descricao p{
    text-align: justify;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}