body {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

header {
    position: sticky;
    height: 9vh;
    background-color: white;
    top: 0;
    z-index: 10;
}

nav {
    margin-left: 37.5%;
    margin-top: -2.5%;
    height: 35%;
    width: 40%;
}

main {
    min-height: 85vh;
    background-color: rgb(154 154 154);
}


#logo {
    width: 10%;
    margin-top: 1%;   
    margin-left: 3%;
}

a {
    text-decoration: none;
}

.text-nav {
    margin-left: 1%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130%;
}

.text-nav:hover{
    color: rgba(0, 0, 0, 0.555);
    transform: 0.3s;
}

#tabela {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

th {
    padding: 8px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {background: rgb(218, 218, 218)}
tr:nth-child(odd) {background: #FFF}